/* * {
  box-sizing: border-box;
  border-style: dotted;
  border-width: 1px;
} */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Open Sans'; */
}

.section {
  text-align: center;
  font-size: 3em;
}

#navigation {
  background-color: white;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


#logo {
  display: flex;
  align-items: center;
  float: left;
  padding-left: 30px;
}

#logo img {
  height: 45px;
  margin-right: 10px;
}

#logo span {
  text-transform: uppercase;
  color: #3c3c3c;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
}

#links {
  display: flex;
  align-items: center;
  float: right;
  padding-right: 30px;
}

#links a {
  padding: 39px 24px 39px 24px;
  text-decoration: none;
  font-size: 18px;
  color: #3c3c3c;
  font-weight: 600;
  transition: 0.25s;
}

#links a:last-child {
  padding: 39px 0px 39px 24px;
}

#links a:hover {
  color: #0FADD4;
}

#first {
  background-image: url("https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg4.jpg");
  background-image: url("https://s3.amazonaws.com/returnforce/asdfadffafdUntitled.png");
  background-size: cover;
}