/* * {
  box-sizing: border-box;
  border-style: dotted;
  border-width: 1px;
} */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,800');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Open Sans'; */
}

.section {
  text-align: center;
  font-size: 3em;
}

#navigation {
  background-color: white;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


#logo {
  display: flex;
  align-items: center;
  float: left;
  padding-left: 35px;
}

#logo img {
  height: 45px;
  margin-right: 10px;
}

#logo span {
  /* font-family: Cabin; */
  text-transform: uppercase;
  color: #3c3c3c;
  font-weight: bolder;
  font-stretch: expanded;
  font-size: 20px;
  letter-spacing: 1px;
}

#links {
  display: flex;
  align-items: center;
  float: right;
  padding-right: 35px;
}

#links a {
  padding: 39px 24px 39px 24px;
  text-decoration: none;
  font-size: 18px;
  color: #3c3c3c;
  font-weight: 600;
  transition: 0.25s;
}

#links a:last-child {
  padding: 39px 0px 39px 24px;
}

#links a:hover {
  color: #0FADD4;
}

#first {

  background-size: cover;
}

#first p {
  width: 500px;
  margin: auto;
}